.content {
  width: 100%;
  background-color: var(--white);
  padding: 100px 0 50px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.heading {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--dark-green);
  text-align: center;
  line-height: 1.2;
  font-family: "Sequel Bold";
}
.cards {
  border-radius: 15px;
  box-shadow: 0 0 20px #00000016;
  background-color: var(--white);
}
svg.active svg {
  rotate: 45deg;
}
.card {
  border-bottom: 1.3px solid #e7e7e7;
  cursor: pointer;
}
.card:last-child {
  border: none;
}
.card:hover .icon svg {
  fill: var(--green);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.icon svg {
  transition: rotate 0.2s ease;
}
.question h2 {
  font-size: var(--fz-md);
  color: var(--dark-green);
  font-family: "Sequel Bold";
  padding-right: 10px;
}
.answer {
  /* display: none; */
  padding: 0 30px;
  padding-bottom: 30px;
  color: #919191;
  font-family: "Nexa bold";
  font-size: 16px;
}

@media (max-width: 850px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 450px) {
  .question h2 {
    font-size: var(--fz-md);
  }
  .icon svg {
    width: 30px;
  }
  .title {
    padding: 20px;
  }
  .answer {
    padding: 20px;
    padding-top: 0;
  }
}
